*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding: 50px 0 50px 0;
}
#palya{
    max-width: 1000px;
    margin: 0 auto;
}
.sor{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.cella{
    width: 100px;
    height: 100px;
    background-color: rgb(119, 233, 115);
    border: 1px solid black;
    background-size: cover;
}
.kitalalva{
    filter: grayscale(1);
}
#uzenet{
    text-align: center;
    padding: 50px 0 50px 0;
    font-size: 2rem;
}